@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome To Vidly!</h1>
        <p class="lead">An ASP.NET MVC 5 Application </p>
    </section>

</main>